.container{
    background-color: rgb(255, 255, 255);
    height: 40em;
    width: 58em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20em;
    border: solid transparent;
    border-radius: 35px;
    
}
body{
    background-color: hsl(235, 18%, 26%);
     /* position: relative; */
     margin: 0;
     height: 100%;
     overflow: hidden;
    
    /* min-height: 100vh; */
}
li{
    list-style-type: none;
    padding-left: 13px;
    padding-bottom: 2%;
    font-family: 'Roboto', sans-serif;
  }
  .svg{
    position: relative;
    top: -30em;
    left: 32em;
  }
  .containerEmail{
    /* background-color: black; */
    position: relative;
    top:12em;
    left:2em;
  }
  ul{
    padding: 0;
    position: relative;
    bottom: 8em;
  }

.alingOptions{
  display: flex;
}
h1{
  position: relative;
  bottom:2em;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
.textProduct{
  font-size: 20px;
  position: relative;
  top: auto;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

  bottom: 7em
 
}
html {
  margin: 0;
  padding: 0;
}
.textEmail{
  font-size: 20px;
  position: relative;
  top: auto;
  bottom: 6em;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}
input{
  position: relative;
  bottom: 8em;
  width: 25em;
  border-radius: 5px;
  background: rgb(249, 250, 250);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 40px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;

}
.Submit{
  position: relative;
  bottom: 8em;
  width: 26em;
  border-radius: 5px;
  background: hsl(235, 18%, 26%);
  border: 1px solid rgb(181, 189, 196);
  font-size: 16px;
  height: 55px;
  line-height: 24px;
  padding: 7px 8px;
  color: rgb(8, 9, 10);
  box-shadow: none;
  color: white;
  margin-top: 1em;
}

/* Responsividade */

@media (max-width: 600px)
{
  .container{
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20em;
    border: solid transparent;
    border-radius: 0px;
    margin: 0;
    
}
html{
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}
  
    .svg{
      width: 700px;
      height: 900px;
      /* height: 100%; */

      /* margin: 0; */

      position: absolute;
      left: -8em;
      top: -30em; 
     
      /* bottom:  300000em; */
    }
    .containerEmail{
        /* background-color: black; */
    position: relative;
    top:12em;
    left:2em;
    }
    h1{
      position: absolute;
      top:-5em;
      font-family: 'Roboto', sans-serif;
      font-size: 65px;
    }
    .containerEmail{
      /* background-color: black; */
      position: relative;
      top:45em;
      left:1em;
    }
    ul{
      padding: 0;
      position: relative;
      bottom: 9em;
    }

    .textProduct{
      font-size: 25px;
      position: relative;
      top: auto;
      font-weight: bold;
      font-family: 'Roboto', sans-serif;
    
      bottom: 7em
    }
    li{
      list-style-type: none;
      padding-left: 13px;
      font-family: 'Roboto', sans-serif;
      padding: 1em;
      position: relative;
      font-size: 25px;
      bottom: 16px;
    }
    .circle{
      width: 30px;
      height: 50px;
    }
}
