.container{
    background-color: rgb(255, 255, 255);
    height: 40em;
    width: 55em;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20em;
    border: solid;
    border-radius: 35px;
}
body{
    background-color: black;
     /* position: relative; */
     margin: 0;
     height: 100%;
    
    /* min-height: 100vh; */
}
li {
    list-style-type: none;
    padding-left: 13px;
    padding-bottom: 2%;
  }
  .svg{
    position: relative;
    top: -25em;
    left: 29em;
  }
  .containerEmail{
    /* background-color: black; */
    position: relative;
    top:12em;
    left:2em;
  }
  ul{
    padding: 0;
    position: relative;
    bottom: 8em;
  }

.alingOptions{
  display: flex;
}
h1{
  position: relative;
  bottom:2em;
  font-family: 'Roboto', sans-serif;
  font-size: 60px;
}
.textProduct{
  font-size: 20px;
  position: relative;
  top: auto;

  bottom: 7em
 
}
html {
  margin: 0;
  padding: 0;
}
.textEmail{
  font-size: 20px;
  position: relative;
  top: auto;
  bottom: 6em
}
input{
  position: relative;
  top: auto;
  bottom: 8em;
  width: 25em;
  height: 4em;
}
